body {
    /* max-width: 1200px; */
    /* max-height: 600px; */
    background-color:black;
    color: #0802A3;
    padding-right: 5%;
    padding-left: 0%;
}

.dep {
    color: #FFCD4B;
    /* text-align: justify; */
    font-size: 28px;
    
}

h1,h2{
    color: #FF4B91;
}
h1{
    font-size: 40px;
}

h2{
    text-align: justify;
}

a{
    text-align: center;
    background-color:blue;
    color: white;
    margin-top: 5%;
    border: 20px white;
    margin-bottom: 10px;
}
.list{
    font-size: 24px;
    color: #FFCD4B;
} 

ul{
   margin-top: 30px;
   margin-bottom: 30px;

}
li{
    margin-top: 30 px;
    margin-bottom: 30px;
}

footer{
    /* text-align: center; */
    position: absolute;
    margin: 75% 50%;
    /* bottom: 0; */
    color: #ffffff;
    /* margin: 0 auto; */
}

.mm {
    position: absolute;
    padding: 5px;
    margin: 5% 40% 0% 45%;
}
.home{
    display: flex;
    justify-content: space-between;
   align-items: center;
    gap: 75px;
    margin: 20% 50px;
    /* max-width: 200px; */
    /* max-height: 100px; */
    /* flex-direction: column; */
    /* text-align: center; */
    font-weight: bold;
    font-size: 48px;
    /* padding-left: 10%; */
    /* padding-right: 15%; */
    /* border: 100px solid white; */
    /* margin: 20% 0% 50% 45%; */
    /* padding-top: 15%; */
    /* padding-bottom: 15%; */
    /* padding: 15px 100px 5px; */
    font-family: sans-serif;
}
.home a{
    flex:auto;
    padding: 10px 15px; 
    /* margin: 50% 0%; */
    /* text-underline-offset: 0; */
    text-decoration: none;
    border: 4px solid #dddde9 ;
    background:rgb(255, 0, 0);
}
.home div{
    border: 0px solid #dddde9 ;
    background: whitesmoke;
    flex:auto;

}